
  .site-article{
    padding-bottom: 150px;
  }
  .site-article__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 69px;
    padding-bottom: 69px;
    padding-left: 81px;
    padding-right: 80px;
    background-color: #2D2641;
    background-image: url(../images/hero-pattern-right.svg);
    background-repeat: no-repeat;
    background-position: calc(50% + 500px) calc(50%);
  }
  .site-article__theme-box{
    width: 100%;
    max-width: 475px;
  }
  .site-article__theme{
    margin: 0;
    font-family: 'DM Serif Display';
    font-weight: 400;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.777778px;
    color: #FFFFFF;
  }
  .site-article__btn{
    padding-top: 13px;
    padding-bottom: 12px;
    padding-right: 24px;
    padding-left: 24px;
    font-family: 'Karla';
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1.5px;
    color: #FFFFFF;
    border: 2px solid #fff;
    text-decoration: none;

  }
  .site-article__btn:hover{
    background-color: #fff;
    color: #2D2641;
    border: none;
    
  }
  
  @media only screen and (max-width: 840px) {
    .site-article__box{
      flex-direction: column;
      background-position: calc(50% + 400px) calc(50%);
    }
    .site-article__theme{
      margin-bottom: 30px;
      text-align: center;
    }
  }
  
  @media only screen and (max-width: 539px) {
    .site-article{
      margin-right: auto;
      margin-left: auto;
    }
    .site-article__box{
      padding-right: 40px;
      padding-left: 40px;
      background-position: calc(50% + 300px) calc(50%);
    }
    .site-article__theme-box{
      max-width: 350px;
    }
    .site-article__theme{
      font-size: 40px;
      font-weight: 400;
      font-size: 40px;
      line-height: 40px;
    }
  }
  
  @media only screen and (max-width: 439px) {
    .site-article__theme{
      font-size: 30px;
    }
  }